name: Build and Push ddns-cron Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    # 支持手动构建和提交信息中存在关键字 build_ddns_cron
    if: github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, 'build_ddns_cron')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Aliyun Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ALIYUN_REGISTRY }}
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ddns-cron/Action.Dockerfile
          push: true
          tags: ${{ secrets.ALIYUN_REGISTRY }}/iproute/ddns-cron:latest
